/* Tab styles */
.tabs-container {
    position: relative;
    display: flex;
    align-items: center;
}

ul.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* for smooth scrolling */
    scrollbar-width: none;
    /* for Firefox */
}

ul.tabs::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
    /* to prevent text wrapping */
    flex-shrink: 0;
}

ul.tabs li.current {
    background: #ededed;
    color: var(--c-primary);
    border: none;
    box-shadow: none;
    border-bottom: 4px solid var(--primary-color);
    font-weight: 400;
}

.tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}

.scroll-arrow:focus {
    outline: none;
}

.scroll-arrow {
    background: none;
    border: none;
    cursor: pointer;
    max-width: 40px;
    /* padding: 7px; */
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    position: absolute;
}

.left-arrow {
    left: -12px;
    background: linear-gradient(to left, transparent, #ffffff 80%);
}

.right-arrow {
    right: -12px;
    background: linear-gradient(to right, transparent, #ffffff 80%);
}

.scroll-arrow.hidden {
    visibility: hidden;
    display: none;
}

.scroll-arrow:focus {
    outline: none;
}

/* Responsive styles */
@media (max-width: 575px) {
    ul.tabs li {
        flex-grow: 1;
        flex-shrink: 0;
        transition: 0.15s box-shadow ease-in-out;
    }
}